.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    margin-top: 2rem;
}

.contacts-container form{
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 1rem   ;
}


.contacts-container form label {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.75rem;
}

.contacts-container form label input {
    width: 25rem;
    height: 1.5rem;
    padding: 0.25rem;
}

.contacts-container form button{
    padding: 0.75rem;
}

.contacts-container form label input::placeholder,
.contacts-container form label textarea::placeholder{
    text-indent: 0.30rem;
}


#mensage {
    width: 25rem;
    height: 8rem;
    padding: 0.25rem;
}